@use "./variables.scss" as *;

// put your custom CSS here!
a.internal {
  background-color: transparent !important;
}
.page-listing .tags {
  display: none;
}
.content-meta {
  font-size: 0.8em;
  margin-bottom: 3px !important;
}